.brand
    margin-top: 100px
    .container
        display: flex
        width: 1233px
        height: 357.17px
        margin: auto
        align-items: center
        justify-content: space-around
        flex-direction: column
        
        
        border-radius: 12px
        border: 1.069px solid var(--Dark-Grey---Fashion, #323232)
        background: #3C4242
        .brand-text
            display: flex
            flex-direction: column
            h1
                color: #FFF

                text-align: center
                font-family: Causten-Bold
                font-size: 50px
                font-style: normal
                font-weight: 800
                line-height: normal
            h4
                color: #FFF

                text-align: center
                font-family: Causten-Thin
                font-size: 22px
                font-style: normal
                line-height: normal

                margin-top: 25.86px
                .yellow-bold
                    color: #FBD103

                    font-family: Causten-Bold
                    font-size: 22px
                    font-style: normal
                    line-height: normal
        .brand-partners
            display: flex
            flex-wrap: wrap
            .partner
                display: flex

                width: 177.518px
                height: 85.551px
                flex-shrink: 0
                margin: 10px

                border-radius: 12px
                background: #FFF
                
                align-items: center
                justify-content: center

            