$tablet-width: 768px
$mobile-width: 576px

.women-section-title
    margin-top: 5%
    padding-left: 10%
    display: flex
    font-family: 'Causten-Bold'
    color: variables.$secondary-color
    &::before
        content: ''
        background-color: variables.$detail-color
        width: 0.3vw
        height: 100%
        display: flex
        margin-right: 1%

.for-women
    padding: 10%
    padding-top: 4%
    padding-bottom: 0%
    display: flex
    flex-direction: row
    justify-content: space-between

    .product
        width: 30%
        .img-container
            width: 90%
            height: 85%
            border-radius: 1vw
            overflow: hidden
            cursor: pointer
            img
                width: 100%
                height: 100%
        .product-info
            display: flex
            padding-top: 10%
            justify-content: space-between
            align-items: center
            width: 90%
            .product-text
                .product-categorie
                    color: variables.$secondary-color
                    font-family: 'Causten-Bold'
                    font-size: 1.2vw
                .product-note
                    color: variables.$primary-color
                    font-family: 'Causten-Medium'
                    font-size: 1.1vw
        .arrow-btn
            cursor: pointer

@media screen and (max-width: $tablet-width)
    .women-section-title
        &::before
            width: .8vw

    .for-women
        flex-direction: column
        .product
            width: 100% 
            .img-container
                width: 100%

            .product-info
                display: flex
                padding-top: 10%
                justify-content: space-between
                align-items: center
                width: 100%
                margin-bottom: 5%
                .product-text
                    .product-categorie
                        color: variables.$secondary-color
                        font-family: 'Causten-Bold'
                        font-size: 3.2vw
                    .product-note
                        color: variables.$primary-color
                        font-family: 'Causten-Medium'
                        font-size: 3.1vw
