body
  overflow-x: hidden
  header
    position: sticky
    top: 0
    display: flex
    justify-content: center
    border-bottom: 0.0625em solid #BEBCBD
    z-index: 1
    background-color: white

    img
      width: 5.84em

    .header-content
      display: flex
      justify-content: space-between
      max-width: variables.$header-content-width
      padding: 1.9375em 0

      nav
        
        ul
          list-style: none
          height: 100%
          @include mixins.flex-center

          li
            
            font-size: 1.375em

            a
              margin: 0 1.3em
              color: variables.$primary-color
              text-decoration: none
              transition: .6s

              &:hover
                font-family: 'Causten-Bold'
                color: variables.$secondary-color

            .active
              font-family: 'Causten-Bold'
              color: variables.$secondary-color
      
      .searchbar
        margin-right: 2%
        .input-field
          background-color: variables.$btn-color
          height: 100%
          display: flex
          align-items: center
          max-width: 15em
          border-radius: 0.5em
          padding: 0 0 0 1.5em
          

          .search-btn
            padding: 0 0.926875em 0 0

          .search-input
            flex: 1
            height: 70%
            font-family: 'Causten-Regular'
            color: variables.$primary-color
            font-size: 1em
            border: none
            outline: none
            background-color: #00000000
            overflow: hidden

            &::placeholder
              font-family: 'Causten-Light'
              font-size: 1em
                
      .misc-btns
        display: flex
        align-items: center
        justify-content: center

        .fav-btn
          @include mixins.btn-bg
          &:hover
            background-color: variables.$secondary-color
            #fav-btn
              stroke: #ff0000

        .account-btn
          @include mixins.btn-bg
          &:hover
            background-color: variables.$secondary-color
            #account-btn
              stroke: #1eff1e

        .cart-btn
          @include mixins.btn-bg
          &:hover
            background-color: variables.$secondary-color
            #cart-btn
              stroke: #ff782b

    .showSidebar
      margin-left: 70%
      animation-name: showSidebar

    .closeSidebar
        margin-left: 130%
        animation-name: closeSidebar

