@media (max-width: 980px)
    header
        padding: 1.1rem
    
        .res-icon-open
            display: block
            margin-left: 80%

        .header-content
            align-items: center
            padding: 1em
            position: absolute
            flex-direction: column
            top: 0
            background-color: white
            height: 111vh
            width: 30%
            animation-duration: 1s
            margin-left: 130%
            z-index: 2
            .res-icon-close
                display: block
            ul
                flex-direction: column
            .searchbar
                margin-left: 20%
                height: 8%
                             
            .misc-btns
                margin-bottom: 130%
                


            


        
        


        
    




            
