@font-face {
  font-family: "Causten-Bold";
  src: url("/font/Causten-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Causten-Medium";
  src: url("/font/Causten-Medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Causten-Light";
  src: url("/font/Causten-Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Causten-Regular";
  src: url("/font/Causten-Regular.otf") format("opentype");
  font-weight: Regular;
  font-style: normal;
}
* {
  font-family: "Causten-Regular";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 0.0625rem solid #BEBCBD;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1237px;
  padding: 1.9375rem 0;
  margin: 0 auto;
}
header .header-content img {
  width: 5.84rem;
}
header .header-content nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-content nav ul li {
  font-size: 1.375rem;
}
header .header-content nav ul li a {
  margin: 0 1.3rem;
  color: #807D7E;
  text-decoration: none;
  transition: 0.6s;
}
header .header-content nav ul li a:hover {
  font-family: "Causten-Bold";
  color: #3C4242;
}
header .header-content nav ul li .active {
  font-family: "Causten-Bold";
  color: #3C4242;
}
header .header-content .searchbar .input-field {
  background-color: #F6F6F6;
  height: 100%;
  display: flex;
  align-items: center;
  width: 18rem;
  border-radius: 0.5rem;
  padding: 0 0 0 1.5rem;
}
header .header-content .searchbar .input-field .search-btn {
  padding: 0 0.926875rem 0 0;
}
header .header-content .searchbar .input-field .search-input {
  flex: 1;
  height: 70%;
  font-family: "Causten-Regular";
  color: #807D7E;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
header .header-content .searchbar .input-field .search-input::placeholder {
  font-family: "Causten-Light";
  font-size: 1rem;
}
header .header-content .misc-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-content .misc-btns .fav-btn {
  padding: 0.9rem 0.8rem 0.7rem 0.85rem;
  background-color: #F6F6F6;
  border-radius: 0.5rem;
  margin: 0 0.35rem;
  transition: 0.4s;
}
header .header-content .misc-btns .fav-btn:hover {
  background-color: #3C4242;
}
header .header-content .misc-btns .fav-btn:hover #fav-btn {
  stroke: #ff0000;
}
header .header-content .misc-btns .account-btn {
  padding: 0.9rem 0.8rem 0.7rem 0.85rem;
  background-color: #F6F6F6;
  border-radius: 0.5rem;
  margin: 0 0.35rem;
  transition: 0.4s;
}
header .header-content .misc-btns .account-btn:hover {
  background-color: #3C4242;
}
header .header-content .misc-btns .account-btn:hover #account-btn {
  stroke: #1eff1e;
}
header .header-content .misc-btns .cart-btn {
  padding: 0.9rem 0.8rem 0.7rem 0.85rem;
  background-color: #F6F6F6;
  border-radius: 0.5rem;
  margin: 0 0.35rem;
  transition: 0.4s;
}
header .header-content .misc-btns .cart-btn:hover {
  background-color: #3C4242;
}
header .header-content .misc-btns .cart-btn:hover #cart-btn {
  stroke: #ff782b;
}